.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 32px;

    overflow: hidden;
    border-radius: 16px;
    padding: 16px;

    background-color: var(--note-background);
    color: var(--note-main-color);
}

.content {
    display: flex;
    align-items: stretch;
    flex-direction: row;

    width: 100%;
    gap: 16px;
}

.reverse {
    flex-direction: row-reverse;
}

.image {
    overflow: hidden;

    border: 2px solid rgb(0 0 0 / 10%);
    border-radius: 18px;

    /* background-color: greenyellow; */
}

.normal {
    min-width: 50%;
}

.tiny {
    min-width: 25%;
}

.small {
    min-width: 30%;
}

.large {
    min-width: 70%;
}

.img {
    /* width: 100%;
    height: 100%; */

    object-fit: cover;
}

.text {
    flex-grow: 1;

    /* background-color: hotpink; */
    white-space: pre-line;
    word-wrap: break-word;
}

.title {
    color: var(--note-main-color);
    margin-top: 0;
}

.subtitle {
    margin-top: -16px;

    color: gray;

    font-size: 70%;
}

.block {
    --note-main-color: rgb(46, 46, 46);
    --note-background:  rgb(211, 211, 211);
}

.warning {
    --note-main-color: rgb(141, 82, 4);
    --note-background:  rgb(255, 224, 140);
}

.note {
    --note-main-color: rgb(26, 37, 196);
    --note-background:  rgb(186, 174, 255);
}

.error {
    --note-main-color: rgb(160, 0, 0);
    --note-background:  rgb(255, 209, 209);
    
}

.success {
    --note-main-color: rgb(0, 58, 10);
    --note-background:  rgb(174, 255, 178);
}

.border {
    border: 4px solid var(--note-main-color);
}

.buttonBlock {
    margin-top: 16px;
}

@media (max-width: 968px) {
    .tiny,
    .small,
    .large,
    .normal {
        min-width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}
