.container {
    min-height: 100vh;
    width: 100vw;
    min-width: 400px;

    background-color: #424454;
    color: #ffffff;
}

.content {
    width: 100%;
    padding: 10px;  
}

.navigation {
    height: 64px;
    width: 100%;
    background-color: rgb( 44 42 56 / 80%);
    color: #fff;

    padding: 10px;
}