.container {
    position: relative;

    display: flex;
    align-items: center;
}

.content {
    z-index: 2;

    display: flex;
}

.content::after {
    position: absolute;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 50%;

    display: flex;
    display: block;
    align-self: center;

    width: 100vw;
    height: 100%;
    margin: auto;

    content: "";
    transform: translate(-50%, 0);

    opacity: 0.8;
    background: linear-gradient(274deg, rgb(52 15 209 / 100%) 0%, rgb(129 227 146 / 100%) 35%, rgb(242 251 141 / 100%) 100%);
}
